@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.font-montserrat { font-family: 'Montserrat', sans-serif !important; }
.font-spacemono { font-family: 'Space Mono', monospace !important; }
.font-playfair { font-family: 'Playfair Display', serif !important; }

/* @font-face {
    font-family: 'poppins';
    src: url("/fonts/Poppins/Poppins-Regular.ttf");
} */
/* 
@font-face {
    font-family: 'Italiana';
    src: url("/fonts/Italiana/Italiana-Regular.ttf") format('truetype');
}

.font-palm {
    font-family: 'Italiana';
} */
/* src/index.css */

/* Gilroy Light */
@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Gilroy Regular */
@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Gilroy Medium */
@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Gilroy Bold */
@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Gilroy", sans-serif;
}
/* Circle pagination  */
.custom-swiper .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2px;
}

.custom-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #d3d3d3; /* light grey */
  opacity: 1;
  border-radius: 9999px; /* fully round */
  transition: background-color 0.3s ease;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #5daaba; /* Active dot color (matching your theme) */
}

.modal.fade {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* Full height for centering */
}

.modal-dialog {
  margin: auto;
  /* Center the modal */
  max-width: 50%;
  /* Set max width */
}
/* Hide the dropdown options (circle, square, etc.) but keep the button */
.jodit-ui-group__ul .jodit-toolbar-button__trigger {
  display: none !important;
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 90%;
    /* Adjust width on smaller screens */
  }
}

.jodit-container {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.post-content-wrap {
  padding: 5px !important ;
}
.jodit-editor ul {
  list-style-type: disc !important;
  padding-left: 20px !important;
}

.jodit-editor ol {
  list-style-type: decimal !important;
  padding-left: 20px !important;
}

.jodit-container {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.post-content-wrap {
  padding: 5px !important ;
}
.jodit-editor ul {
  list-style-type: disc !important;
  padding-left: 20px !important;
}

.jodit-editor ol {
  list-style-type: decimal !important;
  padding-left: 20px !important;
}
